<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AccountWebServiceSoap" />
                <binding name="StockWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57581/AccountWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AccountWebServiceSoap"
                contract="AccountServiceReference.AccountWebServiceSoap" name="AccountWebServiceSoap" />
            <endpoint address="http://localhost:57581/StockWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="StockWebServiceSoap"
                contract="StockServiceReference.StockWebServiceSoap" name="StockWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>